{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "prettier", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".ts", ".tsx", ".d.ts"] }
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": 0,
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-restricted-syntax": 0,
    "no-param-reassign": ["error", { "props": false }],
    "object-literal-sort-keys": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      },
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "React.FC": {
            "message": "Please don't use React.FC instead.",
            "fixWith": "Prefer explicit definition children, like ReactNode or PropsWithChildren interface"
          },
          "React.FunctionalComponent": {
            "message": "Please use React.FunctionalComponent instead.",
            "fixWith": "Prefer explicit definition children, like ReactNode or PropsWithChildren interface"
          }
        }
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".jsx"]
      }
    ],
    "max-params": ["error", 3],
    "react-hooks/rules-of-hooks": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/triple-slash-reference": "off",
    "react/require-default-props": "off"
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  }
}
