$dark-primary-color: #002d2b;
$dark-secondary-color: #668180;
$dark-medium-color: #b3c0bf;
$light-light-color: #e6eaea;
$light-primary-color: #00968f;
$light-secondary-color: #66c0bc;
$light-medium-color: #b3e0dd;
$light-light-color: #e6f5f4;
